.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  div {
    padding: 8px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
  }
